<footer id="footer" class="midnight-blue">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                &copy; <%= Time.new.year %> <a target="_blank" href="http://www.macfontanaandbigd.com/">Mac Fontana and Big D</a>. All Rights Reserved.
            </div>
            <div class="col-sm-6">
              <ul class="pull-right">
                <% if current_admin %>
                  <li><%= link_to "Logout", destroy_admin_session_path, method: :delete %> | <%=link_to "Contact List", contacts_path %></li>
                <% else %>
                  <li><%= link_to "Admin", new_admin_session_path %></li>
                <% end %>
              </ul>
            </div>
        </div>
    </div>
</footer><!--/#footer-->

<script>
    $("#shows").hover(
  function () {
    $(this).addClass('animated tada');
  }, 
  function () {
    $(this).removeClass('animated tada');
  }
  );
</script>